<h1>Lecture 1 code samples</h1>

<!-- We use string interpolation to display varible from component class (in typescript file)

  the syntax is {{ variableName }}
  in this case {{ message }}

-->
<div class="message">{{ message }}</div>

<!-- When timer fires after 5 seconds, and message variable is assigned a new value, this change is automaticallly reflectedn in html user interface.
  We dont have to work direclty with dom (html dom) or execute any additional functions, this is handled by angular. 
  All view (dom) updates are performed by angular. We just need to update variable value.
-->